.planets {
    border: 1px solid;
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 50px;
}

#p1 {
    position: absolute;
    background-color: blue;
}
#p2 {
    position: absolute;
    background-color: green;
}
#p3 {
    position: absolute;
    background-color: yellow;
}
#p4 {
    position: absolute;
    background-color: red;
}