* {
    margin: 0;
    padding: 0;
    background-color: #08304b;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px, 10%;
    background-color:darkcyan;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

li{
    list-style: none;
    margin: 10px;
}

button{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

input:focus,
button:hover,
#logOutButton:hover,
#newGalaxyButton:hover,
#submitButton:hover,
.closeForm:hover {
    background: #fff;
    color: #000;
}

#logOutButton, .joinButton{
    width: 75px;
    height: 35px;
    display: block;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 5px;
    transition: .5s;
    text-align: center;
}


/* ----- Galaxy List ----- */ 

#newGalaxyButton{
    width: 150px;
    height: 35px;
    display: block;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 5px;
    transition: .5s;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

#galaxyListParrent{
    margin: 15px;
    border: 4px solid;
    padding-top: 0;
    border-color: darkcyan;
    align-items: center;
}

#galaxyList{
    text-decoration: none;
    color:#fff;
}

.listItem {
    display: flex;
    justify-content:space-around;
    align-items: center;
}


/* ----- From ----- */ 

.formBackground{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visability 0s, opacity 0.5s;
}

.backgroundActive{
    visibility: visible;
    opacity: 1;
}

.form{
    position:relative;
    background-color: darkcyan;
    width: 55%;
    min-width: 500px;
    height: 12%;
    min-height: 60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

#submitButton{
    min-width: 140px;
    min-height: 40px;
    display: block;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

#galaxyName {
    min-width: 250px;
    min-height: 20px;
    display: block;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 15px;
}

input::placeholder{
    color: #fff;
}

input:focus::placeholder{
    color: #000;
}

.closeForm {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.3);
}