.body{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form{ 
    align-self: center;
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

.input,
.submitButton{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;

}

.input::placeholder{
    color: #fff;
}

.input:focus,
.submitButton:hover{
    background: #fff;
    color: #000;
}

.input:focus::placeholder{
    color: #000;
}

.submitButton{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}
