*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #08304b;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus{
    outline: none;
}

.form{
    
    align-self: center;
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
}

.heading{

    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input,
.submitButton{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;

}

input::placeholder{
    color: #fff;
}

input:focus,
.submitButton:hover{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submitButton{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    position:absolute;
    top: -100%;
    left:50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255,119,119);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#fff;
    font-family: 'roboto', sans-serif;
    text-align:center;
    transition: 1s;
}