* {
    margin: 0;
    padding: 0;
    background-color: #08304b;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px, 10%;
    background-color:darkcyan;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

li{
    list-style: none;
    margin: 10px;
}

button{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#logOutButton, .joinButton{
    width: 75px;
    height: 35px;
    display: block;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 5px;
    transition: .5s;
    text-align: center;
}

#newGalaxyButton{
    width: 150px;
    height: 35px;
    display: block;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 5px;
    transition: .5s;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

#galaxyListParrent{
    margin: 15px;
    border: 4px solid;
    padding-top: 0;
    border-color: darkcyan;
    align-items: center;
}

#galaxyList{
    text-decoration: none;
    color:#fff;
}

.listItem {
    display: flex;
    justify-content:space-around;
    align-items: center;
}


